MCO_Mocap_Basics
Source
AnimStarterPack
StarterContent
Binaries
DerivedDataCache
Intermediate
Saved
Man
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
MCO_Mocap_Basics.png